.container {
    text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(58, 216, 222);
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>Footer</p>
</div>